<div class="book_box">
<div class="panel panel-default">
  <div class="panel-body">
    <img src="">
    <div class="caption">
      <h3>Thumbnail label</h3>
      <p>...</p>
    </div>
  </div>
  <div class="panel-footer">Panel footer</div>
</div>
</div>
