<div class="row">
  <div class="center-block">
  <ul>
    <li>name: <%= @user.name %></li>
    <li>description: <%= simple_format(h(@user.description)) %></li>
  </ul>
  </div>
</div>
<div class="container-fluid">
    <div class="row">
        <%= render partial: 'shared/books', collection: @books %>
    </div>
</div>
