    <h1 class="page_top" id="user_top"><%= h(@user.name) %></h1>
    <div class="user_des"><%= simple_format(h(@user.description)) %></div>
    <div class="container-fluid">
        <div class="row">
            <%= render partial: 'shared/books', locals: { reviews: @reviews } %>
        </div>
    </div>

<div class="modal fade" id="delete_dialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">delete review</h4>
      </div>
      <div class="modal-body">
        If you delete this review , it can not be undone.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" id="dia_delete_btn" class="btn btn-danger">delete</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="rewrite_dialog" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">rewite review</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
            <label for="message-text" class="control-label">review:</label>
            <textarea class="form-control" rows="3" id="review-text"></textarea>

            <div id="tag_form">
              <%= label_tag "Tags" %>
              <div class="form-inline">
                <input id="add_tag_field" class="form-control add_tag_field" type="text"><span id="add_tag_btn" class="glyph glyph-green glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
              </div>
            </div>

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" id="dia_rewrite_btn" class="btn btn-primary">save</button>
      </div>
    </div>
  </div>
</div>
