<div class="row">
  <div class="center-block">
  <ul>
    <li>name: <%= @user.name %></li>
    <li>email: <%= @user.email %></li>
    <li>description: <%= simple_format(h(@user.description)) %></li>
  </ul>
  </div>
</div>
