<div class="col-sm-6 col-md-4">
  <div class="thumbnail">
    <div class="book-body">
      <img class="book_img" src="http://ecx.images-amazon.com/images/I/51tYKtJmjeL._SX351_BO1,204,203,200_.jpg">
      <div class="caption">
        <div class="book-title">機動戦士ガンダムUC (11) 不死鳥狩り (カドカワコミックス・エース) </div>
        <div class="book_colum">著者</div>
        <div class="book_colum_info">福井 晴敏</div>
        <div class="book_colum">出版社</div>
        <div class="book_colum_info">カドカワコミックス・エース</div>
        <div class="book_colum">出版日</div>
        <div class="book_colum_info">2016/3/23</div>
        <div class="book_colum">ページ数</div>
        <div class="book_colum_info">222ページ</div>
      </div>
    </div>
    <div class="panel-footer">
       <div class="user_info">投稿者 <a href="#">まさる</a> 投稿日 2016/4/15</div>
       <div class="user_review_info">アニメ放送前に突然の出版。描き下ろしではないがファンも、これからのファンも読むしかない！</div>
    </div>
  </div>
</div>
