<div class="col-sm-6 col-md-4">
  <div class="thumbnail">
    <div class="panel-heading">
        <h3 class="panel-title">機動戦士ガンダムUC (11) 不死鳥狩り (カドカワコミックス・エース) </h3>
    </div>
    <div class="book-body">
      <img class="book_img" src="http://ecx.images-amazon.com/images/I/51tYKtJmjeL._SX351_BO1,204,203,200_.jpg">
      <div class="caption">
        <div class="book_colum">著者</div>
        <div class="book_colum_info">福井 晴敏</div>
        <div class="book_colum">出版社</div>
        <div class="book_colum_info">カドカワコミックス・エース</div>
        <div class="book_colum">出版日</div>
        <div class="book_colum_info">2016/3/23</div>
        <div class="book_colum">ページ数</div>
        <div class="book_colum_info">222ページ</div>
        <p>...</p>
      </div>
    </div>
    <div class="panel-footer">Panel footer</div>
  </div>
</div>
