$('#book_info').html(
  "<div class='row error-url-box'><div class='col-sm-6 col-sm-offset-3'><h3><%= escape_javascript(@msg) %></h3></div>"
)
$(".loader").remove();
$("#url-submit").removeClass("disabled");
$("#search")
  .prop("readonly", false)
  .val("");
